/* Editor styles for FAUbox List */
.wp-block-faubox-list {
  list-style: disc;
  margin-left: 1.5rem;
  padding-left: 0;
}

.wp-block-faubox-list li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.block-font-size {
  font-size: 0.8rem;
}

/* Scroll bar */

.rrze-faubox-folder-list {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 0 4px 4px 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    &:hover {
      background: #999;
    }
  }
}