.wp-block-rrze-faubox {
  .block-font-size {
    font-size: 0.8rem;
  }
}

.rrze-faubox-folder-list {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 0 4px 4px 0;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
    &:hover {
      background: #999;
    }
  }
}
