.wrap p.description.rrze-faubox-warning {
  color: #d63638 !important;
}

.rrze-faubox-token-expired {
  color: #cc1818;
  font-weight: 600;
}

.rrze-faubox-token-expiring {
  color: #996800;
  font-weight: 600;
}

